<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <!-- Define o título da página exibido na aba do navegador. -->
        <title>Tela Inicial</title>
        <!-- Define a codificação de caracteres usada pelo documento. -->
        <meta charset="UTF-8" />
        <!-- Configuração de viewport para responsividade em dispositivos móveis. -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"rel="stylesheet">
    </head>
    <body class="d-flex justify-content-center align-items-center vh-100">
        <!-- Conteúdo estático que será exibido na página inicial. -->


        <div>
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar w/ text</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Início</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Editais</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>          
        </div>
        <h1>Bem vindo ao início</h1>
        <br/>

        <a href="./login"><button>Fazer Login</button></a>

        <a href="./registrar"><button>Cadastrar-se</button></a>
        <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
