<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"rel="stylesheet">
    </head>
    
    <body class="d-flex justify-content-center align-items-center vh-100">
        
        <div class="card" style="max-width: 600px; min-width: 599px">
            
        <div class="card-header text-center">
            <h1>Login</h1>
        </div>
            
        <div class="card-body">
        <form th:action="@{/logar}" th:object="${credenciais}" method="post">
            
            <label>Email:</label>
            <input type="email" th:field="*{email}"th:class="${#fields.hasErrors('email')}? 'form-control is-invalid': 'form-control'">
            <br/>

            <label>Senha:</label>
            <input type="password" th:field="*{senha}"th:class="${#fields.hasErrors('senha')}? 'form-control is-invalid': 'form-control'">
            <br/>

            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-dark">Logar</button>
            </div>
            <br/>
            <a th:href="@{/registrar}" class="btn btn-link w-100">Não possui conta?</a>

            </form>
        </div>
        </div>
        <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>